body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

/********************************************** Login Page *************************************/

section {
  background: url('./hallway.jpg');
  height: 100vh;
  background-repeat:no-repeat; 
  background-position:center; 
  background-size: cover;
}

/********************************************** Header *************************************/

.header {
  display: flex;
  width: 100vw;
  color: white;
  background: #3F667F;
  padding-left: 2%;
  padding-bottom: 1%;
}

.appName {
  font-size: 36px;
  font-family: 'Inconsolata', monospace;
}

.username {
  font-size: 28px;
  /*border-bottom: 2px solid white;*/
}

/*not working*/
.logout-button {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 1%;
  padding-right: 1%;
}

.logout-button:hover {
  cursor: pointer;
}

/********************************************** Search Form *************************************/

.searchView{
  margin-top: 2%;
  margin-bottom: 2%; 
  display: flex;
  justify-content: center;
}

.searchForm {
  width: 85%;
  background-color: #fbf8f8;
  border: solid 1px #979797;
  padding: 1%;
}

.searchInputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.searchBar {
  height: 35%;
  width: 100%;
  font-size: 100%;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #979797;
}

.select-values {
  font-size: 100%;
  width: 100%;
  height: 35%;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #f2f2f2, #d4d4d4);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 0 #ffffff;
  border: solid 1px #979797;
}

.submitButton {
  width: 100%;
  height: 35%;
  font-size: 100%;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #f2f2f2, #d4d4d4);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 0 #ffffff;
  border: solid 1px #979797;
}

/********************************************** Saved Data Table *************************************/

.viewSavedData{
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

#myTable {
  width: 85%;
}


img {
  width: 1em;
  height: 1em;
}

table {
    font-family: 'Lato', sans-serif;
    border-collapse: collapse;
    width: 70%;
    box-sizing: border-box;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

tr, th, td {
    text-align: center;
    border-bottom: 3px solid white;
}

.delete:hover {
  background-color: #E63946;
  cursor: default;
  color: white;
  cursor: pointer;
}

th[role=columnheader]:not(.no-sort) {
  cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
  content: '';
  margin-top: 7px;
  float: right;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #404040 transparent;
  visibility: hidden;
  opacity: 0;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
  border-bottom: none;
  border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
  visibility: visible;
  opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
  visibility: visible;
  opacity: 1;
}

th {
  background: #D7DDE5;
  font-size: 1em;
  padding: 10px;
}

td {
  background: #EAEFF6;
  padding: 5px;

}

/********************************************** Kiara's CSS *************************************/


/********************************************** Create Page *************************************/

.createForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 3%;
}

.jobInformation {
  display: flex;
  flex-direction: column;
}

.contactInformation {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}
.makejob {
  background: #EAEFF6;
  height: 100vh;
}

.makejob label {
  font-size: 1em;
}

h3 {
  font-size: 2em;
}


/********************************************** Create Page *************************************/


.resultBox {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2%;
}

.results {
  flex-direction: column;
}
/*.username {
  font-size: 24px;
  justify-content: center;
}

.viewAll {
  background: #457B9D;
  margin: 0; 
  height: 100vh;
}

h1 {
  font-size: 10em;
  display: inline-block;
  margin-top: .1em;
  margin-bottom: .2em; 
  color: #1C2427;
  text-shadow: 2px 2px #777C7D;
}

h2 {
  font-size: 5em;
  display: inline-block;
 margin-bottom: .2em; 
 margin-left: 2%;
  color: #1C2427;
  text-shadow: 2px 2px #777C7D;
}

.tableView {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 5%;
 }

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 70vw;
  flex: 2;
  margin-top: 5%;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: column; 

}

.auth-form {
  padding-top: 3em;  
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form form {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type='placeholder'] {

}

input[name="submit"]{
  margin-right: .9em;
}

select {
  margin: 1em;
  width: 100vw;
}

.form-button {
  font-size: 1em;
  margin: 5px;
  width: 6vw;
  height: 4vh;
  border-radius: 4px;
  background-color: #777C7D;
  border: none;
  color: #EAEFF6;
  font-family: 'Roboto Condensed', sans-serif;

}

label {
  font-size: 1.5em;
}

input {
  width: 100%;
  height: 3vh;
  margin: 1em;
  border: none;
  padding: 5px;
  border-radius: 4px;
}

select {
  width: 100%;
  height: 3vh;
}
*/